name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Run tests
      run: |
        echo "No tests yet. Skipping..."

    - name: Build Docker image
      run: |
        docker build -t flask-ci-cd .

    - name: Run Docker container
      run: |
        docker run -d -p 5000:5000 flask-ci-cd
